.Recent-Works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.options{
cursor: pointer;
  padding-right: 25px;
  background-color: #e2d2ff;
  option{
    background-color: #b9abd6;
    color: #0b0b0b;
  }
}
// 1025
.Recent-Works__content {
  margin: 3px;
  width: 24%;
  height: 246px;
}
.Recent-Works__content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 100%;
}

.ClientShop-slide {
  position: relative;
  height: 500px;
  width: 33.3%;
  &__wrap-img {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }
  &__wrap {
    border: 1px solid #f2f2f2;
  }
  &__wrap-description {
    padding: 24px;
    width: 100%;
    height: 60%;
  }
  &__wrap-date {
    color: #c2c2c2;
    position: relative;
    top: -4px;
    font-size: 12px;
    margin-right: 8px;
  }
  &__wrap-comments {
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 23px;
    margin-bottom: 16px;
    color: #444;
    font-weight: 600;
  }
  &__wrap-lorem {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1.7;
    letter-spacing: 0;
    color: #777;
    font-family: poppins, sans-serif;
  }
  &__wrap-chevron {
    color: #484848;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase !important;
  }
  &__wrap-link {
    background-color: #2250fc;
    color: #fff;
    font-size: 13px;
    padding: 2px 16px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 3;
    margin-right: 0;
    a {
      color: white;
    }
  }
}
.moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.moreInfo__navigation-mainList {
  display: flex;
  align-items: center;
  height: 100%;
}
.moreInfo__logo {
  display: flex;
  align-items: center;
}
.moreInfo__navigation-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.moreInfo__navigation-list {
  display: flex;
  align-items: center;
}

.HeaderUpper-logo {
  width: 100%;
  height: 100%;
}
.text_button {
  border-radius: 5px;
  border: 0;
  width: 280px;
  background-color: rgb(85, 85, 218);
  color: white;
  padding: 10px;
}
.text_button-target {
  color: white !important;
  &:hover {
    color: white !important;
  }
}
.bglight {
  display: flex;
}
.grid-item {
  padding: 0px 10px 20px 10px;
  width: auto;
}
// .grid-4-columns .grid-item, .post-4-columns .post-item, .portfolio-4-columns .portfolio-item {
//   width: 25%;
// }
.fullscreen {
  background-image: url(/images/pages/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.flag{

}
.fullscreen__background {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.fullscreen__container {
  border-radius: 6px;
  //padding: 40px;
  background-color: white;
}
.btn__profit {
  font-family: poppins, sans-serif;
  border-radius: 5px 5px 5px 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  outline: none;
  padding: 12px 18px;
  position: relative;
  text-transform: uppercase;
  background-color: #2250fc;
  border-color: #2250fc;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: none;
  line-height: 14px;
  cursor: pointer;
}
.btn__close {
  background-color: #ce041c;
  border-color: #ce041c;
  margin-left: 10px;
}
.btn-search {
  margin-bottom: 0 !important;
  height: 100%;
}
.product-image {
  width: 100%;
  height: 90% !important;
  img {
    width: 100%;
    height: 100%;
  }
}
.product {
  height: 600px;
}

.product-cart {
  width: 100%;
  height: 600px;
}
.background-grey {
  margin-bottom: 0px;
}
.moreInfo__logo-lorem {
  margin: 0px;
  margin-left: 10px;
}
.moreInfo__logo-img {
  width: 100px;
  height: 100px;
}
.moreInfo__navigation-img {
  width: 30px;
  height: 30px;
}
.MainBg__right {
  display: inline-block;
  width: 28%;
  height: 85%;
  margin-right: 45px;
  //border: 2px solid blue;
  .newNumber{
   //font-family: "Century Schoolbook";
    color: blue;
    font-style: normal;
    font-family: "Century Schoolbook";
    font-weight: 400;
  }
}
.asd{

}
.MainBg__right-img {
  width: 378px;
  height: 573.75px;
  //padding: 20px;
  margin-bottom: 54px;
  box-shadow: 0px 0px 5px 5px rgba(14, 19, 81, 0.73);
}
.TextDemocratic {
  text-align: center;
  font-size: 24px;
}
.p-dropdown {
  margin-right: 10px;
}
.MainHeader {
  width: 100%;
  //height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MainSlider {
  width: 65%;
  height: 100%;
  position: relative;
}
.MainSlider__subtitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  //margin-bottom: 30px;
  //color: white;
  //z-index: 2;
}
.MainSlider__lorem {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  z-index: 2;
}
.MainSlider__lorem{
  background-color: rgba(182, 182, 182, 0.84);
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
}
.MainSlider__bg {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  //margin-top: 50px;
  //background-color: rgba(40, 40, 40, 0.65);
  background-image: url("/images/background/main.jpg");
  background-size: cover;
  //opacity: 0.4;
}
.backImg{
  background-image: linear-gradient(90deg, rgba(0, 0, 212, 0.44) 20%, rgba(155, 155, 155, 0.84) 80%);
}
.MainSlider__bg1 {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-color: rgba(255,255, 255, 0.1);
  background-image: url("/images/background/main2.jpg");
  background-size: cover;
}
.MainSlider__bg2 {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-color: rgba(255,255, 255, 0.1);
  background-image: url("/images/background/main5.jpg");
  background-size: cover;
}
.MainSlider__bg3 {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-color: rgba(255,255, 255, 0.1);
  background-image: url("/images/background/main4.jpg");
  background-size: cover;
}

.Team__card {
  display: flex;
  flex-wrap: wrap;
}
.team__members {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22%;
  text-align: center;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
}
.team__member {
  width: 100%;
}
.team__member-vesual {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
}
.team__info {
  height: 200px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.team__info-subtitle {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}
.team__info-developer {
  font-size: 13px;
  color: #bbb;
  line-height: 18px;
}
.team__info-lorem {
  margin-top: 10px;
  font-size: 14px;
}
.form-inline {
  justify-content: center;
}
.News-Flexing {
  display: flex;
  flex-wrap: wrap;
}
.post-item {
  padding: 10px;
  display: flex;
}
.post-image {
  height: 50%;
  width: 100%;
}
.post-images {
  width: 100% !important;
  height: 100% !important;
  background-size: cover;
  object-fit: cover;
}
.page-item {
  padding-bottom: 5px;
  padding-right: 5px;
}
.pagination {
  flex-wrap: wrap;
  justify-content: center;
}
// .News-Flexing {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-self: center;
// }
.post-item {
  padding: 10px;
}
// .post-image {
//     height: 50%;
// }
.order-select {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
.adressdflex {
  display: flex;
  width: 100%;
  align-items: center;
}
.wrapcontact {
  padding: 10px;
}

.aboutUs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 72vh;
  background-image: url("/images/about/parallax-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.aboutUs__subtitle {
  color: #fff;
  display: block;
  font-size: 12px !important;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 18px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    border-top: 3px solid #fff;
    content: "";
    display: block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    margin-top: 8px;
    width: 26px;
  }
}
.aboutUs__lorem {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}
.moreInfo__logo-footer {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-bottom: 20px;
}
.footer-content {
  background-color: white !important;
}
.Link-registr {
  padding: 5px;
}
.Link-autho {
  padding: 5px;
}
.heading-text {
  padding: 50px;
}

.slick-prev,
.slick-next {
  top: 40%;
}
.slick-next {
  right: -50px;
}
.slick-prev {
  left: -50px;
}
.text-align-center {
  text-align: center;
}

.heading-text {
  padding: 0;
  padding-bottom: 10px;
}
.index-img {
  width: 100% !important;
  height: 150px;
}
.index__main-img {
  padding: 10px;
}
.portfolio-img {
  height: 310px !important;
  @media (max-width: 481px) {
    width: 80% !important;
    height: 550px !important;
    margin: 10px auto;
  }
  @media (max-width: 767px) {
    height: 310px !important;
  }
  @media (min-width: 1400px) {
    height: 400px !important;
    width: 100% !important;
  }
}
.marginleft{
  @media (max-width: 481px) {
    margin: 0 10%;
  }
}
.link-button-main {
  //margin: 10px  5px 0 5px ;

  //padding-bottom: 10px;
  //padding-bottom: 0;
  //margin-bottom: 0;
}
.recent-subtitle {
  text-align: center;
  font-size: 14px;
}
.portfolio-item {
  padding: 10px;
}
.Map {
  width: 100%;
  min-height: 385px;
  height: auto;
}
.application {
  .card {
    background-color: transparent;
    border: 0!important;
    box-shadow: none;
    //width: 100%;
    padding: 0 0;
    margin: 0 0;
  }
}
.letsenziya-img {
  width: 50%;

}
.product-title {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  min-width: 100% ;
}
.Page-slider {
  display: flex;
  flex-wrap: wrap
}

.slick-prev, .slick-next{
  //display: none!important;
}
.MainHeader{
  .slick-next{
    right: 40px!important;
    &::before{
    font-size: 35px;
    }
  }
  .slick-prev{
    left: 40px!important;
z-index: 1;
    &::before{
      font-size: 35px;
      color: #F8F9FA;
    }
  }

}

@import "./media";
@import "./jurnal";
@import "./savdo";