.Recent-Works {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
// 1025
.Recent-Works__content {
    margin: 3px;
    width: 24%;
    height: 246px;
}
.Recent-Works__content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: 100%;
}

.ClientShop-slide {
    position: relative;
    height: 500px;
    width: 33.3%;
    &__wrap-img {
        width: 100%;
        height: 40%;
        object-fit: cover;
    }
    &__wrap {
        border: 1px solid #f2f2f2;
    }
    &__wrap-description {
        padding: 24px;
        width: 100%;
        height: 60%;
    }
    &__wrap-date {
        color: #c2c2c2;
        position: relative;
        top: -4px;
        font-size: 12px;
        margin-right: 8px;
    }
    &__wrap-comments {
        font-size: 18px;
        letter-spacing: -0.1px;
        line-height: 23px;
        margin-bottom: 16px;
        color: #444;
        font-weight: 600;
    }
    &__wrap-lorem {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        line-height: 1.7;
        letter-spacing: 0;
        color: #777;
        font-family: poppins, sans-serif;
    }
    &__wrap-chevron {
        color: #484848;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase !important;
    }
    &__wrap-link {
        background-color: #2250fc;
        color: #fff;
        font-size: 13px;
        padding: 2px 16px;
        border-radius: 50px;
        position: absolute;
        right: 10px;
        top: 11px;
        z-index: 3;
        margin-right: 0;
        a {
            color: white;
        }
    }
}
.moreInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.moreInfo__navigation-mainList {
    display: flex;
    align-items: center;
    height: 100%;
}
.moreInfo__logo {
    display: flex;
    align-items: center;
}
.moreInfo__navigation-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.moreInfo__navigation-list {
    display: flex;
    align-items: center;
}

.HeaderUpper-logo {
    width: 100%;
    height: 100%;
}
.Page-shop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item {
    padding: 0px 10px 20px 10px;
}
.PageInfo {
    margin: 50px;
}
.fullscreen {
    background-image: url(/images/pages/1.jpg);
    height: 100vh;
}
.fullscreen__background {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.fullscreen__container {
    border-radius: 6px;
    padding: 40px;
    background-color: white;
}
.btn__profit {
    font-family: poppins, sans-serif;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    outline: none;
    padding: 12px 18px;
    position: relative;
    text-transform: uppercase;
    background-color: #2250fc;
    border-color: #2250fc;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    transition: all 0.3s;
    margin-bottom: 6px;
    outline: none;
    line-height: 14px;
    cursor: pointer;
}
.btn__close {
    background-color: #ce041c;
    border-color: #ce041c;
    margin-left: 10px;
}
.btn-search {
    margin-bottom: 0px !important;
    height: 100%;
}
// .product-image {
//     width: 100%;
//     height: 100% !important;
// }
.product-image {
    width: 380px;
    height: 507px !important;
    // a {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // }
}
.product-cart {
    width: 100%;
    height: 600px;
}
.product_images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background-grey {
    margin-bottom: 0px;
}
.moreInfo__logo-lorem {
    margin: 0px;
    margin-left: 10px;
}
.moreInfo__logo-img {
    width: 100px;
    height: 100px;
}
.moreInfo__navigation-img {
    width: 30px;
    height: 30px;
}
.MainBg__right {
    display: inline-block;
    width: 30%;
    height: 100%;
}
.MainBg__right-img {
    width: 100%;
    height: 100%;
    padding: 50px;
}
.TextDemocratic {
    text-align: center;
    font-size: 24px;
}
.p-dropdown {
    margin-right: 10px;
}
.MainHeader {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MainSlider {
    width: 70%;
    height: 100%;
    position: relative;
}
.MainSlider__subtitle {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 30px;
    color: white;
    z-index: 2;
}
.MainSlider__lorem {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    z-index: 2;
}
.MainSlider__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.MainSlider__bg-img {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
    z-index: -1;
}
.MainSlider__bg-black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.Team__card {
    display: flex;
    flex-wrap: wrap;
}
.team__members {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 22%;
    text-align: center;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 4px;
}
.team__member {
    height: 50%;
    width: 100%;
}
.team__member-vesual {
    width: 100%;
    height: 100%;
}
.team__info {
    height: 50%;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team__info-subtitle {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}
.team__info-developer {
    font-size: 13px;
    color: #bbb;
    line-height: 18px;
}
.team__info-lorem {
    margin-top: 10px;
    font-size: 14px;
}
.form-inline {
    justify-content: center;
}
.News-Flexing {
    display: flex;
    flex-wrap: wrap;
}
.post-item{
    padding: 10px;
    display: flex;
}
.post-image {
    height: 50%;
    width: 100%;
}
.post-images {
    width: 100% !important;
    height: 100% !important;
    background-size: cover;
    object-fit: cover;
}
.page-item {
    padding-bottom: 5px;
    padding-right: 5px;
}
.pagination {
    flex-wrap: wrap;
}


@import './media';
